In [1]:
pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp37-none-any.whl size=5975 sha256=d359ee0c5fb9e6a11b98bcc0a8cb1cfca7ba9cd23e91d5245b9005c438f7f335
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [3]:
store_data = pd.read_csv('store_data.csv')

In [4]:
store_data.head()

           shrimp    almonds     avocado  ... frozen smoothie spinach olive oil
0         burgers  meatballs        eggs  ...             NaN     NaN       NaN
1         chutney        NaN         NaN  ...             NaN     NaN       NaN
2          turkey    avocado         NaN  ...             NaN     NaN       NaN
3   mineral water       milk  energy bar  ...             NaN     NaN       NaN
4  low fat yogurt        NaN         NaN  ...             NaN     NaN       NaN

[5 rows x 20 columns]

In [5]:
store_data = pd.read_csv('store_data.csv', header=None)

In [6]:
store_data.head()

              0          1           2   ...               17       18         19
0         shrimp    almonds     avocado  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...              NaN      NaN        NaN
2        chutney        NaN         NaN  ...              NaN      NaN        NaN
3         turkey    avocado         NaN  ...              NaN      NaN        NaN
4  mineral water       milk  energy bar  ...              NaN      NaN        NaN

[5 rows x 20 columns]

In [7]:
records = []
for i in range(0, 7501):
    records.append([str(store_data.values[i,j]) for j in range(0, 20)])

In [20]:
association_rules = apriori(records, min_support=0.005, min_confidence=0.25, min_lift=4, min_length=2)
association_results = list(association_rules)

In [21]:
for item in association_results:
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])
    print("Support: " + str(item[1]))
    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: pasta -> escalope
Support: 0.005865884548726837
Confidence: 0.3728813559322034
Lift: 4.700811850163794
=====================================
Rule: whole wheat pasta -> olive oil
Support: 0.007998933475536596
Confidence: 0.2714932126696833
Lift: 4.122410097642296
=====================================
Rule: pasta -> shrimp
Support: 0.005065991201173177
Confidence: 0.3220338983050847
Lift: 4.506672147735896
=====================================
Rule: nan -> pasta
Support: 0.005865884548726837
Confidence: 0.3728813559322034
Lift: 4.700811850163794
=====================================
Rule: ground beef -> spaghetti
Support: 0.006399146780429276
Confidence: 0.3934426229508197
Lift: 4.004359721511667
=====================================
Rule: nan -> whole wheat pasta
Support: 0.007998933475536596
Confidence: 0.2714932126696833
Lift: 4.13077198425009
=====================================
Rule: nan -> pasta
Support: 0.005065991201173177
Confidence: 0.3220338983050847
Lift: 4.515095833993347
=====================================
Rule: ground beef -> spaghetti
Support: 0.006399146780429276
Confidence: 0.3934426229508197
Lift: 4.004359721511667
=====================================

In [22]:
print(len(association_results))

8

In [23]:
print(association_results[0])

RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005865884548726837, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.3728813559322034, lift=4.700811850163794)])